<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Realm Royale Hub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A place for everything realm royale!">
    <meta name="author" content="Mike Hunt">
    <meta name="keywords" content="Mike Hunt Content">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/assets/images/esports/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/esports/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/esports/favicons/favicon-152.png">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <!-- Google Web Fonts
    ================================================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&amp;family&#x3D;Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&amp;display&#x3D;swap"
          rel="stylesheet">

    <!-- CSS
    ================================================== -->
    <!-- Vendor CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/assets/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/assets/vendor/slick/slick.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">


    <!-- Template CSS-->
    <link href="/assets/css/style-esports.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="/assets/css/custom.css" rel="stylesheet">


    <script>
        var form = document.getElementById("search");

        function handleForm(event) {
            event.preventDefault();
        }

        form.addEventListener('submit', handleForm);
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDYKQEDNX3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-PDYKQEDNX3');
    </script>
</head>
<body data-template="template-esports">
<% function split(string, delimiter, n) {
    const parts = string.split(delimiter);
    return parts.slice(0, n - 1).concat([parts.slice(n - 1).join(delimiter)]);
}
%>
<%
let queueValues = {
    474: 'Solo\'s',
    475: 'Trio\'s', // who cares about consistency right realm? should be duo kekw thanks reforged
    476: 'Squad\'s',
    10188: 'Solo Custom\'s',
    10189: 'Duo Custom\'s',
    10205: 'Trio Custom\'s',
    10190: 'Squad Custom\'s'
}
%>

<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>

    <!-- Header
    ================================================== -->

    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">
        <div class="header-mobile__logo">
            <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                             srcset="/assets/images/esports/logoTemp1.png 1.0x" alt="Alchemists"
                             class="header-mobile__logo-img"></a>
        </div>
        <div class="header-mobile__inner">
            <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
            <button type="submit" class="header-mobile__search-submit" style="width: 3rem;height: 5rem"><i
                        class="fas fa-search"></i></button>
        </div>
    </div>
    <!-- Header Mobile / End -->

    <!-- Header Desktop -->
    <header class="header header--layout-3">

        <!-- Header Top Bar -->
        <div class="header__top-bar clearfix">
        </div>
        <!-- Header Top Bar / End -->

        <!-- Header Primary -->
        <!-- Header Primary -->
        <div class="header__primary">
            <div class="container">
                <div class="header__primary-inner">

                    <!-- Header Logo -->
                    <div class="header-logo">
                        <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                                         srcset="/assets/images/esports/logoTemp1.png 4x" alt="Realm Refroged Logo"
                                         class="header-logo__img"></a>
                    </div>
                    <!-- Header Logo / End -->

                    <!-- Main Navigation -->
                    <nav class="main-nav">
                        <ul class="main-nav__list">
                            <li class=""><a href="/">Home</a>
                            </li>
                            <li class=""><a href="/mmr">MMR</a>
                                <!-- Mega Menu -->
                                <!-- Mega Menu / End -->
                            </li>

                            <li class="active">
                                <a href="#" style="pointer-events: none;">Lookup</a>
                                <ul class="main-nav__sub">
                                    <li class=""><a href="/stats">Player Stats</a></li>
                                    <li class="active"><a href="/match">Match Details</a></li>
                                </ul>
                            </li>
                            <!-- Mega Menu / End -->

                            <li class="">
                                <a href="#" style="pointer-events: none;">Organize Events</a>
                                <ul class="main-nav__sub">
                                    <li class=""><a href="/orgLeague">Organize League</a></li>
                                    <li class=""><a href="/orgTourney">Organize Tourney</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                    <!-- Main Navigation / End -->

                    <div class="header__primary-spacer"></div>

                    <!-- Header Search Form -->

                    <!-- Header Search Form / End -->

                    <!-- Header Info Block -->

                    <!-- Header Info Block / End -->

                </div>
            </div>
        </div>
        <!-- Header Primary / End -->
        <!-- Header Primary / End -->

    </header>
    <!-- Header / End -->


    <!-- Content
    ================================================== -->
    <div class="site-content">
        <div class="container" style="max-width: 1200px">

            <div class="card card--has-table">
                <div class="widget__title card__header card__header--has-btn">
                    <h3 style="font-size:2rem">Realm Match Statistics</h3>
                    <header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">

                        <h3 class="widget-game-result__title" style="font-size: 0.9rem">
                            Delay: <%= totalDelay[0]['delay'] %> seconds</h3>
                    </header>

                </div>

                <div class="card__content" style="margin:0 auto;">

                    <div class="widget-results__content" style="margin:0 auto;">
                        <div style="padding-right: 2rem;margin:0 auto;">
                            <h4 style="text-align: center">7 days Stats</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Total Games Last
                                    7 days: <%= lastWeekStats[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo Games
                                    - <%= lastWeekStatsSolo[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo Games
                                    - <%= lastWeekStatsDuo[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio Games
                                    - <%= lastWeekStatsTrio[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center">Squad Games
                                    - <%= lastWeekStatsSquad[0]['totalGames'].toLocaleString() %></h5>
                            </div>
                            <h5 style="text-align: center">Total Players Last 7
                                days: <%= lastWeekStats[0]['totalPlayersInMatches'].toLocaleString() %></h5>
                            <h5 style="text-align: center">Total Unqiue Players Last 7
                                days: <%= lastWeekStats[0]['uniquePlayers'].toLocaleString() %></h5>
                            <h5 style="text-align: center">
                                <a download href="/views/files/playersLastWeek.txt"> Clicking on this will download the
                                    player list</a>
                            </h5>
                        </div>
                        <div style="padding-right: 2rem">
                            <h4 style="text-align: center">Last 24 Hour Stats</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Total Games Last
                                    24 hours: <%= lastDayStats[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo Games
                                    - <%= lastDayStatsSolo[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo Games
                                    - <%= lastDayStatsDuo[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio Games
                                    - <%= lastDayStatsTrio[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center">Squad Games
                                    - <%= lastDayStatsSquad[0]['totalGames'].toLocaleString() %></h5>
                            </div>
                            <h5 style="text-align: center">Total Players Last 24
                                hours: <%= lastDayStats[0]['totalPlayersInMatches'].toLocaleString() %></h5>
                            <h5 style="text-align: center">Total Unique Players Last 24
                                hours: <%= lastDayStats[0]['uniquePlayers'].toLocaleString() %></h5>
                            <h5 style="text-align: center">
                                <a download href="/views/files/playersLastDay.txt"> Clicking on this will download the
                                    player list</a>
                            </h5>
                        </div>
                        <div style="padding-right: 2rem">
                            <h4 style="text-align: center">Last Hour Stats</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Total Games Last
                                    60 minutes: <%= lastHourStats[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo Games
                                    - <%= lastHourStatsSolo[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo Games
                                    - <%= lastHourStatsDuo[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio Games
                                    - <%= lastHourStatsTrio[0]['totalGames'].toLocaleString() %></h5>
                                <h5 style="text-align: center">Squad Games
                                    - <%= lastHourStatsSquad[0]['totalGames'].toLocaleString() %></h5>
                            </div>
                            <h5 style="text-align: center">Total Players Last 60
                                minutes: <%= lastHourStats[0]['totalPlayersInMatches'].toLocaleString() %></h5>
                            <h5 style="text-align: center">Total Unique Players Last 60
                                minutes: <%= lastHourStats[0]['uniquePlayers'].toLocaleString() %></h5>
                            <h5 style="text-align: center">
                                <a download href="/views/files/playersLastHour.txt"> Clicking on this will download the
                                    player list</a>
                            </h5>

                        </div>
                    </div>
                    <!-- Game #1 / End -->
                </div>
            </div>


            <div class="card card--has-table">
                <div class="widget__title card__header card__header--has-btn">
                    <h3 style="font-size:2rem">Realm Class Winning Statistics</h3>
                    <header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">

                    </header>

                </div>

                <div class="card__content" style="margin:0 auto;">

                    <div class="widget-results__content" style="margin:0 auto;">
                        <div style="padding-right: 2rem;margin:0 auto;">
                            <h3 style="text-align: center">7 days Stats (inaccurate until 2/9)</h3>
                            <div>
                                <div>
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Solo Games
                                    </h4>
                                    <% if(classWinrateSoloLastWeek.length !== 0){ %>

                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[0]['class_name'] %> -
                                            <%= classWinrateSoloLastWeek[0]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[1]['class_name'] %> -
                                            <%= classWinrateSoloLastWeek[1]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[2]['class_name'] %> -
                                            <%= classWinrateSoloLastWeek[2]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[3]['class_name'] %> -
                                            <%= classWinrateSoloLastWeek[3]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[4]['class_name'] %> -
                                            <%= classWinrateSoloLastWeek[4]['games_won_solo'] %>
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins the last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div>
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Duo Games
                                    </h4>
                                    <% if(classWinrateDuoLastWeek.length !== 0){ %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[0]['class_name'] %> -
                                            <%= classWinrateDuoLastWeek[0]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[1]['class_name'] %> -
                                            <%= classWinrateDuoLastWeek[1]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[2]['class_name'] %> -
                                            <%= classWinrateDuoLastWeek[2]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[3]['class_name'] %> -
                                            <%= classWinrateDuoLastWeek[3]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[4]['class_name'] %> -
                                            <%= classWinrateDuoLastWeek[4]['games_won_solo'] %>
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins the last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div>
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Trio Games
                                    </h4>
                                    <% if(classWinrateTrioLastWeek.length !== 0){ %>

                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[0]['class_name'] %> -
                                            <%= classWinrateTrioLastWeek[0]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[1]['class_name'] %> -
                                            <%= classWinrateTrioLastWeek[1]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[2]['class_name'] %> -
                                            <%= classWinrateTrioLastWeek[2]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[3]['class_name'] %> -
                                            <%= classWinrateTrioLastWeek[3]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[4]['class_name'] %> -
                                            <%= classWinrateTrioLastWeek[4]['games_won_solo'] %>
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins the last week
                                        </h5>
                                    <%}%>

                                </div>
                                <br>
                                <div>

                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Squad Games
                                    </h4>
                                    <% if(classWinrateSquadLastWeek.length !== 0){ %>

                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[0]['class_name'] %> -
                                            <%= classWinrateSquadLastWeek[0]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[1]['class_name'] %> -
                                            <%= classWinrateSquadLastWeek[1]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[2]['class_name'] %> -
                                            <%= classWinrateSquadLastWeek[2]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[3]['class_name'] %> -
                                            <%= classWinrateSquadLastWeek[3]['games_won_solo'] %>
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[4]['class_name'] %> -
                                            <%= classWinrateSquadLastWeek[4]['games_won_solo'] %>
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins the last week
                                        </h5>
                                    <%}%>
                                </div>
                            </div>

                        </div>
                        <div style="padding-right: 2rem">
                            <h3 style="text-align: center">Last Day Stats</h3>
                            <div>
                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Solo Games
                                </h4>
                                <% if(classWinrateSoloLastHour.length !== 0){ %>

                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSoloLastDay[0]['class_name'] %> -
                                    <%= classWinrateSoloLastDay[0]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSoloLastDay[1]['class_name'] %> -
                                    <%= classWinrateSoloLastDay[1]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSoloLastDay[2]['class_name'] %> -
                                    <%= classWinrateSoloLastDay[2]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSoloLastDay[3]['class_name'] %> -
                                    <%= classWinrateSoloLastDay[3]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSoloLastDay[4]['class_name'] %> -
                                    <%= classWinrateSoloLastDay[4]['games_won_solo'] %>
                                </h5>
                                <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last day
                                    </h5>
                                <%}%>
                            </div>
                            <br>
                            <div>
                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Duo Games
                                </h4>
                                <% if(classWinrateDuoLastHour.length !== 0){ %>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateDuoLastDay[0]['class_name'] %> -
                                    <%= classWinrateDuoLastDay[0]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateDuoLastDay[1]['class_name'] %> -
                                    <%= classWinrateDuoLastDay[1]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateDuoLastDay[2]['class_name'] %> -
                                    <%= classWinrateDuoLastDay[2]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateDuoLastDay[3]['class_name'] %> -
                                    <%= classWinrateDuoLastDay[3]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateDuoLastDay[4]['class_name'] %> -
                                    <%= classWinrateDuoLastDay[4]['games_won_solo'] %>
                                </h5>
                                <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last day
                                    </h5>
                                <%}%>
                            </div>
                            <br>
                            <div>
                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Trio Games
                                </h4>
                                <% if(classWinrateTrioLastHour.length !== 0){ %>

                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateTrioLastDay[0]['class_name'] %> -
                                    <%= classWinrateTrioLastDay[0]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateTrioLastDay[1]['class_name'] %> -
                                    <%= classWinrateTrioLastDay[1]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateTrioLastDay[2]['class_name'] %> -
                                    <%= classWinrateTrioLastDay[2]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateTrioLastDay[3]['class_name'] %> -
                                    <%= classWinrateTrioLastDay[3]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateTrioLastDay[4]['class_name'] %> -
                                    <%= classWinrateTrioLastDay[4]['games_won_solo'] %>
                                </h5>
                                    <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last day
                                    </h5>
                                <%}%>

                            </div>
                            <br>
                            <div>

                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Squad Games
                                </h4>
                                <% if(classWinrateSquadLastHour.length !== 0){ %>

                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSquadLastDay[0]['class_name'] %> -
                                    <%= classWinrateSquadLastDay[0]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSquadLastDay[1]['class_name'] %> -
                                    <%= classWinrateSquadLastDay[1]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSquadLastDay[2]['class_name'] %> -
                                    <%= classWinrateSquadLastDay[2]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSquadLastDay[3]['class_name'] %> -
                                    <%= classWinrateSquadLastDay[3]['games_won_solo'] %>
                                </h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">
                                    <%= classWinrateSquadLastDay[4]['class_name'] %> -
                                    <%= classWinrateSquadLastDay[4]['games_won_solo'] %>
                                </h5>
                                <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last day
                                    </h5>
                                <%}%>
                            </div>
                        </div>

                        <div style="padding-right: 2rem">
                            <h3 style="text-align: center">Last Hour Stats</h3>
                            <div>
                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Solo Games
                                </h4>
                                <% if(classWinrateSoloLastHour.length !== 0){ %>

                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSoloLastHour[0]['class_name'] %> -
                                        <%= classWinrateSoloLastHour[0]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSoloLastHour[1]['class_name'] %> -
                                        <%= classWinrateSoloLastHour[1]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSoloLastHour[2]['class_name'] %> -
                                        <%= classWinrateSoloLastHour[2]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSoloLastHour[3]['class_name'] %> -
                                        <%= classWinrateSoloLastHour[3]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSoloLastHour[4]['class_name'] %> -
                                        <%= classWinrateSoloLastHour[4]['games_won_solo'] %>
                                    </h5>
                                <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last 24 hours
                                    </h5>
                                <%}%>
                            </div>
                            <br>
                            <div>
                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Duo Games
                                </h4>
                                <% if(classWinrateDuoLastHour.length !== 0){ %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateDuoLastHour[0]['class_name'] %> -
                                        <%= classWinrateDuoLastHour[0]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateDuoLastHour[1]['class_name'] %> -
                                        <%= classWinrateDuoLastHour[1]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateDuoLastHour[2]['class_name'] %> -
                                        <%= classWinrateDuoLastHour[2]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateDuoLastHour[3]['class_name'] %> -
                                        <%= classWinrateDuoLastHour[3]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateDuoLastHour[4]['class_name'] %> -
                                        <%= classWinrateDuoLastHour[4]['games_won_solo'] %>
                                    </h5>
                                <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last 24 hours
                                    </h5>
                                <%}%>
                            </div>
                            <br>
                            <div>
                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Trio Games
                                </h4>
                                <% if(classWinrateTrioLastHour.length !== 0){ %>

                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateTrioLastHour[0]['class_name'] %> -
                                        <%= classWinrateTrioLastHour[0]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateTrioLastHour[1]['class_name'] %> -
                                        <%= classWinrateTrioLastHour[1]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateTrioLastHour[2]['class_name'] %> -
                                        <%= classWinrateTrioLastHour[2]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateTrioLastHour[3]['class_name'] %> -
                                        <%= classWinrateTrioLastHour[3]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateTrioLastHour[4]['class_name'] %> -
                                        <%= classWinrateTrioLastHour[4]['games_won_solo'] %>
                                    </h5>
                                <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last 24 hours
                                    </h5>
                                <%}%>

                            </div>
                            <br>
                            <div>

                                <h4 style="text-align: center;margin-bottom: 0rem">
                                    Squad Games
                                </h4>
                                <% if(classWinrateSquadLastHour.length !== 0){ %>

                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSquadLastHour[0]['class_name'] %> -
                                        <%= classWinrateSquadLastHour[0]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSquadLastHour[1]['class_name'] %> -
                                        <%= classWinrateSquadLastHour[1]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSquadLastHour[2]['class_name'] %> -
                                        <%= classWinrateSquadLastHour[2]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSquadLastHour[3]['class_name'] %> -
                                        <%= classWinrateSquadLastHour[3]['games_won_solo'] %>
                                    </h5>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        <%= classWinrateSquadLastHour[4]['class_name'] %> -
                                        <%= classWinrateSquadLastHour[4]['games_won_solo'] %>
                                    </h5>
                                <% } else { %>
                                    <h5 style="text-align: center;margin-bottom: 0rem">
                                        No wins the last 24 hours
                                    </h5>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <!-- Game #1 / End -->
                </div>
            </div>

        </div>
        <!-- Last Matches Stats / End -->


    </div>
</div>

<!-- Content / End -->


<!-- Footer
================================================== -->
<footer id="footer" class="footer">
</footer>
<!-- Footer / End -->

</div>

<!-- Javascript Files
================================================== -->
<!-- Core JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery/jquery-migrate.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/core.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


<!-- Vendor JS -->
<script src="/assets/vendor/marquee/jquery.marquee.min.js"></script>


<!-- Template JS -->
<script src="/assets/js/init.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>
