<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Realm Royale Hub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A place for everything realm royale!">
    <meta name="author" content="Mike Hunt">
    <meta name="keywords" content="Mike Hunt Content">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/assets/images/esports/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/esports/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/esports/favicons/favicon-152.png">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <!-- Google Web Fonts
    ================================================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&amp;family&#x3D;Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&amp;display&#x3D;swap"
          rel="stylesheet">

    <!-- CSS
    ================================================== -->
    <!-- Vendor CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/assets/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/assets/vendor/slick/slick.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">


    <!-- Template CSS-->
    <link href="/assets/css/style-esports.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="/assets/css/custom.css" rel="stylesheet">


    <script>
        var form = document.getElementById("search");

        function handleForm(event) {
            event.preventDefault();
        }

        form.addEventListener('submit', handleForm);
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDYKQEDNX3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-PDYKQEDNX3');
    </script>
</head>
<body data-template="template-esports">
<% function split(string, delimiter, n) {
    const parts = string.split(delimiter);
    return parts.slice(0, n - 1).concat([parts.slice(n - 1).join(delimiter)]);
}
%>
<%
let queueValues = {
    474: 'Solo\'s',
    475: 'Trio\'s', // who cares about consistency right realm? should be duo kekw thanks reforged
    476: 'Squad\'s',
    10188: 'Solo Custom\'s',
    10189: 'Duo Custom\'s',
    10205: 'Trio Custom\'s',
    10190: 'Squad Custom\'s'
}
let regions = {
	"Australia": "AU",
	"Brazil": "BR",
	"Southeast Asia": "SEA",
	"NA": "NA",
	"EU": "EU",

}
%>

<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>

    <!-- Header
    ================================================== -->

    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">
        <div class="header-mobile__logo">
            <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                             srcset="/assets/images/esports/logoTemp1.png 1.0x" alt="Alchemists"
                             class="header-mobile__logo-img"></a>
        </div>
        <div class="header-mobile__inner">
            <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
            <button type="submit" class="header-mobile__search-submit" style="width: 3rem;height: 5rem"><i
                        class="fas fa-search"></i></button>
        </div>
    </div>
    <!-- Header Mobile / End -->

    <!-- Header Desktop -->
    <header class="header header--layout-3">

        <!-- Header Top Bar -->
        <div class="header__top-bar clearfix">
        </div>
        <!-- Header Top Bar / End -->

        <!-- Header Primary -->
        <!-- Header Primary -->
        <div class="header__primary">
            <div class="container">
                <div class="header__primary-inner">

                    <!-- Header Logo -->
                    <div class="header-logo">
                        <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                                         srcset="/assets/images/esports/logoTemp1.png 4x" alt="Realm Refroged Logo"
                                         class="header-logo__img"></a>
                    </div>
                    <!-- Header Logo / End -->

                    <!-- Main Navigation -->
                    <nav class="main-nav">
                        <ul class="main-nav__list">
                            <li class=""><a href="/">Home</a>
                            </li>
                            <li class=""><a href="/mmr">MMR</a> 
                                <!-- Mega Menu -->
                                <!-- Mega Menu / End -->
                            </li>

                            <li class="">
                                <a href="#" style="pointer-events: none;">Lookup</a>
                                <ul class="main-nav__sub">
                                    <li class=""><a href="/stats">Player Stats</a></li>
                                    <li class=""><a href="/match">Match Details</a></li>
                                </ul>
                            </li>
                            <!-- Mega Menu / End -->

                            <li class="">
                                <a href="#" style="pointer-events: none;">Organize Events</a>
                                <ul class="main-nav__sub">
                                    <li class=""><a href="/orgLeague">Organize League</a></li>
                                    <li class=""><a href="/orgTourney">Organize Tourney</a></li>
                                </ul>
                            </li>
                            <li style="padding-left: 12rem;"></li>
                            <li class="">
                                <a href="/leaderboard">Leaderboard </a>
                            </li>
                            <li class="active">
                                <a href="/admin">Admin</a>
                            </li>
                            <li class="">   
                                <a href="/v2_admin">Admin-Graph</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Main Navigation / End -->

                    <div class="header__primary-spacer"></div>

                    <!-- Header Search Form -->

                    <!-- Header Search Form / End -->

                    <!-- Header Info Block -->

                    <!-- Header Info Block / End -->

                </div>
            </div>
        </div>
        <!-- Header Primary / End -->
        <!-- Header Primary / End -->

    </header>
    <!-- Header / End -->


    <!-- Content
    ================================================== -->
    <div class="site-content">
        <div class="container" style="max-width: 1200px">

            <div class="card card--has-table">
                <div class="widget__title card__header card__header--has-btn">
                    <h3 style="font-size:2rem">Player Statistics</h3>
                    <header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">

                        <h3 class="widget-game-result__title" style="font-size: 0.9rem">
                            Delay: <%= Number(totalDelay[0]['delay']).toFixed(2) %> seconds</h3>
                    </header>

                </div>

                <div class="card__content" style="margin:0 auto;">

                    <div class="widget-results__content" style="margin:0 auto;">
                        <div style="padding-right: 2rem;margin:0 auto;">
                            <h4 style="text-align: center">7 days</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo
                                    - <%= Number(lastWeekStatsSolo['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo
                                    - <%= Number(lastWeekStatsDuo['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio
                                    - <%= Number(lastWeekStatsTrio['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center">Squad
                                    - <%= Number(lastWeekStatsSquad['totalplayersinmatches']).toLocaleString() %></h5>
                            </div>
                            <h5 style="text-align: center">Total Players: <%= Number(lastWeekStats['totalplayersinmatches']).toLocaleString() %></h5>
                            <h5 style="text-align: center">Total Unique Players: <%= Number(lastWeekStats['uniqueplayers']).toLocaleString() %></h5>
                            <h5 style="text-align: center">
                                <a download href="/views/files/playersLastWeek.txt"> Download player list</a>
                            </h5>
                        </div>
                        <div style="padding-right: 2rem">
                            <h4 style="text-align: center">24 Hours</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo
                                    - <%= Number(lastDayStatsSolo['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo
                                    - <%= Number(lastDayStatsDuo['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio
                                    - <%= Number(lastDayStatsTrio['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center">Squad
                                    - <%= Number(lastDayStatsSquad['totalplayersinmatches']).toLocaleString() %></h5>
                            </div>
                            <h5 style="text-align: center">Total Players: <%= Number(lastDayStats['totalplayersinmatches']).toLocaleString() %></h5>
                            <h5 style="text-align: center">Total Unique Players: <%= Number(lastDayStats['uniqueplayers']).toLocaleString() %></h5>
                            <h5 style="text-align: center">
                                <a download href="/views/files/playersLastDay.txt"> Download player list</a>
                            </h5>
                        </div>
                        <div style="padding-right: 2rem">
                            <h4 style="text-align: center">Last Hour</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo
                                    - <%= (lastHourStatsSolo['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo
                                    - <%= Number(lastHourStatsDuo['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio
                                    - <%= Number(lastHourStatsTrio['totalplayersinmatches']).toLocaleString() %></h5>
                                <h5 style="text-align: center">Squad
                                    - <%= Number(lastHourStatsSquad['totalplayersinmatches']).toLocaleString() %></h5>
                            </div>
                            <h5 style="text-align: center">Total Players: <%= Number(lastHourStats['totalplayersinmatches']).toLocaleString() %></h5>
                            <h5 style="text-align: center">Total Unique Players: <%= Number(lastHourStats['uniqueplayers']).toLocaleString() %></h5>
                            <h5 style="text-align: center">
                                <a download href="/views/files/playersLastHour.txt">Download player list</a>
                            </h5>

                        </div>
                    </div>
                    <!-- Game #1 / End -->
                </div>
            </div>

            <div class="card card--has-table">
							<div class="widget__title card__header card__header--has-btn">
									<h3 style="font-size:2rem">Avg. Players / Match</h3>
									<header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">
											<h3 class="widget-game-result__title" style="font-size: 0.9rem">
													</h3>
									</header>

							</div>

							<div class="card__content" style="margin:0 auto;">

									<div class="widget-results__content" style="margin:0 auto;">

											<div style="padding-right: 2rem;margin:0 auto;">
													<h4 style="text-align: center">7 days</h4>
													
													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Solo
															</h5>
																<div style="text-align: center;">

																		<%
																		
																		if(lastWeekMatchStatsSolo[0].length === 0) { %>
																		&emsp;
																		&emsp;
																		&emsp;
																		&emsp;
																		0 Games
																			</h5>
																		<% } else {
																			 for(let index = 0; index < lastWeekMatchStatsSolo[0].length;index++ ){ 
																				
																				%>
																				<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastWeekMatchStatsSolo[0][index]['region']]%> - <%=(lastWeekMatchStatsSolo[1][index]['count']/lastWeekMatchStatsSolo[0][index]['count']).toFixed(2) %>
																				</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Duo
															</h5>
																<div style="text-align: center;">

																		<%
																			if(lastWeekMatchStatsDuo[0].length === 0) { %>
																				<h5 style="text-align: center;margin-bottom: 0rem">
																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																				0 Games
																				</h5>	
																			<% } else {
																			for(let index = 0; index < lastWeekMatchStatsDuo[0].length;index++ ){ 
																				
																				%>
																				<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastWeekMatchStatsDuo[0][index]['region']]%> - <%=(lastWeekMatchStatsDuo[1][index]['count']/lastWeekMatchStatsDuo[0][index]['count']).toFixed(2) %>
																				</h5>
																		<%}}%>
																	</h5>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Trio
															</h5>
																<div style="text-align: center;">

																		<%
																		if(lastWeekMatchStatsTrio[0].length === 0) { %>
																			<h5 style="text-align: center;margin-bottom: 0rem">
																				&emsp;
																				&emsp;
																				&emsp;
																				&emsp;
																				0 Games
																			</h5>
																				<% } else {
																		for(let index = 0; index < lastWeekMatchStatsTrio[0].length;index++ ){
																			%>
																			<h5 style="text-align: center;margin-bottom: 0rem">
																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastWeekMatchStatsTrio[0][index]['region']]%> - <%=(lastWeekMatchStatsTrio[1][index]['count']/lastWeekMatchStatsTrio[0][index]['count']).toFixed(2) %>
																			</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Squad
															</h5>
																<div style="text-align: center;text-transform: none;">

																		<% 
																		if(lastWeekMatchStatsSquad[0].length === 0) { %>
																			<h5 style="text-align: center;margin-bottom: 0rem">
																					&emsp;
																					&emsp;
																					&emsp;
																					&emsp;
																					0 Games
																			</h5>
																					<% } else {
																		for(let index = 0; index < lastWeekMatchStatsSquad[0].length;index++ ){ 
																			%>
																			<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastWeekMatchStatsSquad[0][index]['region']]%> - <%=(lastWeekMatchStatsSquad[1][index]['count']/lastWeekMatchStatsSquad[0][index]['count']).toFixed(2) %>
																			</h5>
																		<%}}%>

																</div>

													</div>

											</div>
											<div style="padding-right: 2rem;margin:0 auto;">
													<h4 style="text-align: center">24 Hours</h4>
													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Solo
															</h5>
																<div style="text-align: center;">

																		<%
																		if(lastDayMatchStatsSolo[0].length === 0) { %>
																			<h5 style="text-align: center;margin-bottom: 0rem">

																		&emsp;
																		&emsp;
																		&emsp;
																		&emsp;
																		0 Games
																			</h5>
																		<% } else {
																			 for(let index = 0; index < lastDayMatchStatsSolo[0].length;index++ ){ 
																				
																				%>
																				<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastDayMatchStatsSolo[0][index]['region']]%> - <%=(lastDayMatchStatsSolo[1][index]['count']/lastDayMatchStatsSolo[0][index]['count']).toFixed(2) %>
																				</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Duo
															</h5>
																<div style="text-align: center;">

																		<%
																			if(lastDayMatchStatsDuo[0].length === 0) { %>
																				<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																			0 Games
																			</h5>

																			<% } else {
																			for(let index = 0; index < lastDayMatchStatsDuo[0].length;index++ ){ 
																				
																				%>
																				<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastDayMatchStatsDuo[0][index]['region']]%> - <%=(lastDayMatchStatsDuo[1][index]['count']/lastDayMatchStatsDuo[0][index]['count']).toFixed(2) %>
																				</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Trio
															</h5>
																<div style="text-align: center;">

																		<%
																		if(lastDayMatchStatsTrio[0].length === 0) { %>
																			<h5 style="text-align: center;margin-bottom: 0rem">

																				&emsp;
																				&emsp;
																				&emsp;
																				&emsp;
																				0 Games
																					</h5>
																				<% } else {
																		for(let index = 0; index < lastDayMatchStatsTrio[0].length;index++ ){
																			%>
																			<h5 style="text-align: center;margin-bottom: 0rem">
																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastDayMatchStatsTrio[0][index]['region']]%> - <%=(lastDayMatchStatsTrio[1][index]['count']/lastDayMatchStatsTrio[0][index]['count']).toFixed(2) %>
																			</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Squad
															</h5>
																<div style="text-align: center;text-transform: none;">

																		<% 
																		if(lastDayMatchStatsSquad[0].length === 0) { %>
																			<h5 style="text-align: center;margin-bottom: 0rem;text-transform: none;">

																					&emsp;
																					&emsp;
																					&emsp;
																					&emsp;
																					0 Games
																						</h5>
																					<% } else {
																		for(let index = 0; index < lastDayMatchStatsSquad[0].length;index++ ){ 
																			%>
																			<h5 style="text-align: center;margin-bottom: 0rem;text-transform: none;">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastDayMatchStatsSquad[0][index]['region']]%> - <%=(lastDayMatchStatsSquad[1][index]['count']/lastDayMatchStatsSquad[0][index]['count']).toFixed(2) %>
																			</h5>
																					<%}}%>

																</div>

													</div>

											</div>

											<div style="padding-right: 2rem;margin:0 auto;">
													<h4 style="text-align: center">Last Hour</h4>
													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Solo
															</h5>
																<div style="text-align: center;">

																		<%
																		if(lastHourMatchStatsSolo[0].length === 0) { %>
																			<h5 style="text-align: center;margin-bottom: 0rem">
																		&emsp;
																		&emsp;
																		&emsp;
																		&emsp;
																		0 Games
																			</h5>
																		<% } else {
																			 for(let index = 0; index < lastHourMatchStatsSolo[0].length;index++ ){ 
																				
																				%>
																				<h5 style="text-align: center;margin-bottom: 0rem">
																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastHourMatchStatsSolo[0][index]['region']]%> - <%=(lastHourMatchStatsSolo[1][index]['count']/lastHourMatchStatsSolo[0][index]['count']).toFixed(2) %>
																				</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Duo
															</h5>
																<div style="text-align: center;">

																		<%
																			if(lastHourMatchStatsDuo[0].length === 0) { %>
																				<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																			0 Games
																				</h5>
																			<% } else {
																			for(let index = 0; index < lastHourMatchStatsDuo[0].length;index++ ){ 
																				
																				%>
																				<h5 style="text-align: center;margin-bottom: 0rem">

																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastHourMatchStatsDuo[0][index]['region']]%> - <%=(lastHourMatchStatsDuo[1][index]['count']/lastHourMatchStatsDuo[0][index]['count']).toFixed(2) %>
																				</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
															<h5 style="text-align: center;margin-bottom: 0rem">
																Trio
															</h5>
																<div style="text-align: center;">

																		<%
																		if(lastHourMatchStatsTrio[0].length === 0) { %>
																			<h5 style="text-align: center;margin-bottom: 0rem">

																				&emsp;
																				&emsp;
																				&emsp;
																				&emsp;
																				0 Games
																					</h5>
																				<% } else {
																		for(let index = 0; index < lastHourMatchStatsTrio[0].length;index++ ){
																			%>
																			<h5 style="text-align: center;margin-bottom: 0rem">
																			&emsp;
																			&emsp;
																			&emsp;
																			&emsp;
																					<%=regions[lastHourMatchStatsTrio[0][index]['region']]%> - <%=(lastHourMatchStatsTrio[1][index]['count']/lastHourMatchStatsTrio[0][index]['count']).toFixed(2) %>
																			</h5>
																		<%}}%>

																</div>

													</div>
													<br>

													<div style="min-height: 7rem;">
												<h5 style="text-align: center;margin-bottom: 0rem">
													Squad
												</h5>
													<div style="text-align: center;text-transform: none;">

															<% 
															if(lastHourMatchStatsSquad[0].length === 0) { %>
																<h5 style="text-align: center;margin-bottom: 0rem">

																		&emsp;
																		&emsp;
																		&emsp;
																		&emsp;
																		0 Games
																			</h5>
																		<% } else {
															for(let index = 0; index < lastHourMatchStatsSquad[0].length;index++ ){ 
																%>
																<h5 style="text-align: center;margin-bottom: 0rem">

																&emsp;
																&emsp;
																&emsp;
																&emsp;
																		<%=regions[lastHourMatchStatsSquad[0][index]['region']]%> - <%=(lastHourMatchStatsSquad[1][index]['count']/lastHourMatchStatsSquad[0][index]['count']).toFixed(2) %>
																</h5>
															<%}}%>

													</div>

													</div>
											</div>
								</div>
					</div>
					</div>



            <div class="card card--has-table">
                <div class="widget__title card__header card__header--has-btn">
                    <h3 style="font-size:2rem">Same Input Statistics</h3>
                    <header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">
                        <h3 class="widget-game-result__title" style="font-size: 0.9rem">
                            </h3>
                    </header>

                </div>

                <div class="card__content" style="margin:0 auto;">

                    <div class="widget-results__content" style="margin:0 auto;">
                        <div style="padding-right: 2rem;margin:0 auto;">
                            <h4 style="text-align: center">7 days</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo -
                                    <% if (Number(lastWeekCrossplayStatsSolo[0]) !== 0){%>
                                    <%=((lastWeekCrossplayStatsSolo[0]/lastWeekCrossplayStatsSolo[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo -
                                    <% if (Number(lastWeekCrossplayStatsDuo[0]) !== 0){%>
                                        <%=((lastWeekCrossplayStatsDuo[0]/lastWeekCrossplayStatsDuo[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio --
                                    <% if (Number(lastWeekCrossplayStatsTrio[0]) !== 0){%>
                                    <%=((lastWeekCrossplayStatsTrio[0]/lastWeekCrossplayStatsTrio[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                    <% if (Number(lastWeekCrossplayStatsSquad[0]) !== 0){%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Squad -
                                    <%=((lastWeekCrossplayStatsSquad[0]/lastWeekCrossplayStatsSquad[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                            </div>
                        </div>
                        <div style="padding-right: 2rem;margin:0 auto;">
                            <h4 style="text-align: center">24 hours</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo --
                                    <% if (Number(lastDayCrossplayStatsSolo[0]) !== 0){%>
                                        <%=((lastDayCrossplayStatsSolo[0]/lastDayCrossplayStatsSolo[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo -
                                    <% if (Number(lastDayCrossplayStatsDuo[0]) !== 0){%>
                                        <%=((lastDayCrossplayStatsDuo[0]/lastDayCrossplayStatsDuo[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio -
                                    <% if (Number(lastDayCrossplayStatsTrio[0]) !== 0){%>
                                    <%=((lastDayCrossplayStatsTrio[0]/lastDayCrossplayStatsTrio[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Squad -
                                    <% if (Number(lastDayCrossplayStatsSquad[0]) !== 0){%>

                                    <%=((lastDayCrossplayStatsSquad[0]/lastDayCrossplayStatsSquad[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                            </div>
                        </div>
                        <div style="padding-right: 2rem;margin:0 auto;">
                            <h4 style="text-align: center">Last Hour</h4>
                            <div>
                                <h5 style="text-align: center;margin-bottom: 0rem">Solo -
                                    <% if (Number(lastHourCrossplayStatsSolo[0]) !== 0){%>
                                    <%=((lastHourCrossplayStatsSolo[0]/lastHourCrossplayStatsSolo[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Duo -
                                    <% if (Number(lastHourCrossplayStatsDuo[0]) !== 0){%>
                                    <%=((lastHourCrossplayStatsDuo[0]/lastHourCrossplayStatsDuo[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Trio -
                                    <% if (Number(lastHourCrossplayStatsTrio[0]) !== 0){%>
                                    <%=((lastHourCrossplayStatsTrio[0]/lastHourCrossplayStatsTrio[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                                <h5 style="text-align: center;margin-bottom: 0rem">Squad -
                                    <% if (Number(lastHourCrossplayStatsSquad[0]) !== 0){%>

                                    <%=((lastHourCrossplayStatsSquad[0]/lastHourCrossplayStatsSquad[1])*100).toFixed(2)%>%</h5>
                                    <%} else {%>
                                        No Matches
                                    <%}%>
                            </div>
                        </div>
                    <!-- Game #1 / End -->
                </div>
            </div>
            </div>



            <br>
            <div class="card card--has-table">
                <div class="widget__title card__header card__header--has-btn">
                    <h2 style="font-size:2rem">Class Win %</h2>
                    <header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">

                    </header>

                </div>

                <div class="card__content" style="margin:0 auto;">

                    <div class="widget-results__content" style="margin:0 auto;">

                        <div style="padding: 3rem">
                            <h2 style="text-align: center">7 days</h2>
                            <div>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Solo
                                    </h4>
                                    <% if(classWinrateSoloLastWeek.length !== 0){ %>

                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[0][0]['class_name'] %> -
                                            <%= ((classWinrateSoloLastWeek[0][0]['games_won_solo']/classWinrateSoloLastWeek[1][0]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[0][1]['class_name'] %> -
                                            <%= ((classWinrateSoloLastWeek[0][1]['games_won_solo']/classWinrateSoloLastWeek[1][1]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[0][2]['class_name'] %> -
                                            <%= ((classWinrateSoloLastWeek[0][2]['games_won_solo']/classWinrateSoloLastWeek[1][2]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[0][3]['class_name'] %> -
                                            <%=((classWinrateSoloLastWeek[0][3]['games_won_solo']/classWinrateSoloLastWeek[1][3]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastWeek[0][4]['class_name'] %> -
                                            <%= ((classWinrateSoloLastWeek[0][4]['games_won_solo']/classWinrateSoloLastWeek[1][4]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Duo 
                                    </h4>
                                    <% if(classWinrateDuoLastWeek[0].length !== 0){ %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[0][0]['class_name'] %> -
                                            <%= ((classWinrateDuoLastWeek[0][0]['games_won_solo']/classWinrateDuoLastWeek[1][0]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[0][1]['class_name'] %> -
                                            <%= ((classWinrateDuoLastWeek[0][1]['games_won_solo'] /classWinrateDuoLastWeek[1][1]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[0][2]['class_name'] %> -
                                            <%= ((classWinrateDuoLastWeek[0][2]['games_won_solo'] / classWinrateDuoLastWeek[1][2]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[0][3]['class_name'] %> -
                                            <%= ((classWinrateDuoLastWeek[0][3]['games_won_solo']/classWinrateDuoLastWeek[1][3]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastWeek[0][4]['class_name'] %> -
                                            <%= ((classWinrateDuoLastWeek[0][4]['games_won_solo']/classWinrateDuoLastWeek[1][4]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Trio
                                    </h4>
                                    <% if(classWinrateTrioLastWeek.length !== 0){ %>

                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[0][0]['class_name'] %> -
                                            <%= ((classWinrateTrioLastWeek[0][0]['games_won_solo']/classWinrateTrioLastWeek[1][0]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[0][1]['class_name'] %> -
                                            <%= ((classWinrateTrioLastWeek[0][1]['games_won_solo']/classWinrateTrioLastWeek[1][1]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[0][2]['class_name'] %> -
                                            <%= ((classWinrateTrioLastWeek[0][2]['games_won_solo']/classWinrateTrioLastWeek[1][2]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[0][3]['class_name'] %> -
                                            <%= ((classWinrateTrioLastWeek[0][3]['games_won_solo']/classWinrateTrioLastWeek[1][3]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastWeek[0][4]['class_name'] %> -
                                            <%= ((classWinrateTrioLastWeek[0][4]['games_won_solo']/classWinrateTrioLastWeek[1][4]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>

                                </div>
                                <br>
                                <div style="min-height: 8rem;">

                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Squad
                                    </h4>
                                    <% if(classWinrateSquadLastWeek[0].length !== 0){ %>

                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[0][0]['class_name'] %> -
                                            <%= ((classWinrateSquadLastWeek[0][0]['games_won_solo']/classWinrateSquadLastWeek[1][0]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[0][1]['class_name'] %> -
                                            <%= ((classWinrateSquadLastWeek[0][1]['games_won_solo']/classWinrateSquadLastWeek[1][1]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[0][2]['class_name'] %> -
                                            <%= ((classWinrateSquadLastWeek[0][2]['games_won_solo']/classWinrateSquadLastWeek[1][2]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[0][3]['class_name'] %> -
                                            <%= ((classWinrateSquadLastWeek[0][3]['games_won_solo']/classWinrateSquadLastWeek[1][3]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastWeek[0][4]['class_name'] %> -
                                            <%= ((classWinrateSquadLastWeek[0][4]['games_won_solo']/classWinrateSquadLastWeek[1][4]['games_won_solo'])*100).toFixed(2) %>%
                                        </h5>
                                    <% } else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                            </div>

                        </div>

                        <div style="padding: 3rem">
                            <h2 style="text-align: center">24 Hours</h2>
                            <div>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Solo
                                    </h4>
                                    <% if(classWinrateSoloLastWeek.length !== 0){
																			for(let i = 0; i <classWinrateSoloLastWeek[0].length;i++ ) {
																				%>
																					<h5 style="text-align: center;margin-bottom: 0rem">
																							<%= classWinrateSoloLastWeek[0][i]['class_name'] %> -
																							<%= ((classWinrateSoloLastWeek[0][i]['games_won_solo']/classWinrateSoloLastWeek[1][i]['games_won_solo'])*100).toFixed(2)%>%
																					</h5>
																			

                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Duo 
                                    </h4>
                                    <% if(classWinrateDuoLastDay[0].length !== 0){
																			for(let i = 0; i <classWinrateDuoLastDay[0].length;i++ ) {
																				%>
																					<h5 style="text-align: center;margin-bottom: 0rem">
																							<%= classWinrateDuoLastDay[0][i]['class_name'] %> -
																							<%= ((classWinrateDuoLastDay[0][i]['games_won_solo']/classWinrateDuoLastDay[1][i]['games_won_solo'])*100).toFixed(2)%>%
																					</h5>
																			
																		

                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Trio
                                    </h4>
                                    <% if(classWinrateTrioLastDay.length !== 0){ 
																			for(let i = 0; i <classWinrateTrioLastDay[0].length;i++ ) {
																				%>
																					<h5 style="text-align: center;margin-bottom: 0rem">
																							<%= classWinrateTrioLastDay[0][i]['class_name'] %> -
																							<%= ((classWinrateTrioLastDay[0][i]['games_won_solo']/classWinrateTrioLastDay[1][i]['games_won_solo'])*100).toFixed(2)%>%
																					</h5>

                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>

                                </div>
                                <br>
                                <div style="min-height: 8rem;">

                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Squad
                                    </h4>
                                    <% if(classWinrateSquadLastDay[0].length !== 0){
																			for(let i = 0; i <classWinrateSquadLastDay[0].length;i++ ) {

																			%>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastDay[0][i]['class_name'] %> -
                                            <%= ((classWinrateSquadLastDay[0][i]['games_won_solo']/classWinrateSquadLastDay[1][i]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
																			
																			



                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                            </div>

                        </div>


                        <div style="padding: 3rem">
                            <h2 style="text-align: center">Last Hour</h2>
                            <div>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Solo
                                    </h4>
                                    <% if(classWinrateSoloLastHour.length !== 0){
																			for(let i = 0; i <classWinrateSoloLastHour[0].length;i++ ) {
																			
																			%>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSoloLastHour[0][i]['class_name'] %> -
                                            <%= ((classWinrateSoloLastHour[0][i]['games_won_solo']/classWinrateSoloLastHour[1][i]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
																			
														

                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Duo 
                                    </h4>
                                    <% if(classWinrateDuoLastHour[0].length !== 0){
																			for(let i = 0; i <classWinrateDuoLastHour[0].length;i++ ) {
																			
																			%>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateDuoLastHour[0][i]['class_name'] %> -
                                            <%= ((classWinrateDuoLastHour[0][i]['games_won_solo']/classWinrateDuoLastHour[1][i]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
																			
																			
																			


                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                                <br>
                                <div style="min-height: 8rem;">
                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Trio
                                    </h4>
                                    <% if(classWinrateTrioLastHour.length !== 0){
																			for(let i = 0; i <classWinrateTrioLastHour[0].length;i++ ) {
																			
																			%>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateTrioLastHour[0][i]['class_name'] %> -
                                            <%= ((classWinrateTrioLastHour[0][i]['games_won_solo']/classWinrateTrioLastHour[1][i]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
																			
																			

                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>

                                </div>
                                <br>
                                <div style="min-height: 8rem;">

                                    <h4 style="text-align: center;margin-bottom: 0rem">
                                        Squad
                                    </h4>
                                    <% if(classWinrateSquadLastHour[0].length !== 0){
																			for(let i = 0; i <classWinrateSquadLastHour[0].length;i++ ) {
																			
																			%>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            <%= classWinrateSquadLastHour[0][i]['class_name'] %> -
                                            <%= ((classWinrateSquadLastHour[0][i]['games_won_solo']/classWinrateSquadLastHour[1][i]['games_won_solo'])*100).toFixed(2)%>%
                                        </h5>
                                    <% }} else { %>
                                        <h5 style="text-align: center;margin-bottom: 0rem">
                                            No wins last week
                                        </h5>
                                    <%}%>
                                </div>
                            </div>

                        </div>



                    </div>
                    <!-- Game #1 / End -->
                </div>
            </div>




        </div>
        <!-- Last Matches Stats / End -->


    </div>
</div>

<!-- Content / End -->


<!-- Footer
================================================== -->
<footer id="footer" class="footer">
</footer>
<!-- Footer / End -->

</div>

<!-- Javascript Files
================================================== -->
<!-- Core JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery/jquery-migrate.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/core.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


<!-- Vendor JS -->
<script src="/assets/vendor/marquee/jquery.marquee.min.js"></script>


<!-- Template JS -->
<script src="/assets/js/init.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>
