<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Realm Royale Hub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A place for everything realm royale!">
        <meta name="author" content="Mike Hunt">
    <meta name="keywords" content="Mike Hunt Content">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/assets/images/esports/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/esports/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/esports/favicons/favicon-152.png">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <!-- Google Web Fonts
    ================================================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&amp;family&#x3D;Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&amp;display&#x3D;swap"
          rel="stylesheet">

    <!-- CSS
    ================================================== -->
    <!-- Vendor CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/assets/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/assets/vendor/slick/slick.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">


    <!-- Template CSS-->
    <link href="/assets/css/style-esports.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="/assets/css/custom.css" rel="stylesheet">



    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDYKQEDNX3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PDYKQEDNX3');
    </script>
</head>
<body data-template="template-esports">
<% function split(string, delimiter, n) {
    const parts = string.split(delimiter);
    return parts.slice(0, n - 1).concat([parts.slice(n - 1).join(delimiter)]);
}
%>
<%
let queueValues = {
    474: 'Solo\'s',
    482: 'Duo\'s', // :((((((((( thor is going to be the bane of my existence 475 used to be duos
    475: 'Trio\'s', // who cares about consistency right realm? should be duo kekw thanks reforged
    476: 'Squad\'s',
    10188: 'Solo Custom\'s',
    10189: 'Duo Custom\'s',
    10205: 'Trio Custom\'s',
    10190: 'Squad Custom\'s'
}
 %>

<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>

    <!-- Header
    ================================================== -->

    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">
        <div class="header-mobile__logo">
            <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                             srcset="/assets/images/esports/logoTemp1.png 1.0x" alt="Alchemists"
                             class="header-mobile__logo-img"></a>
        </div>
        <div class="header-mobile__inner">
            <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
            <button type="submit" class="header-mobile__search-submit" style="width: 3rem;height: 5rem"><i
                        class="fas fa-search"></i></button>
        </div>
    </div>
    <!-- Header Mobile / End -->

    <!-- Header Desktop -->
    <header class="header header--layout-3">

        <!-- Header Top Bar -->
        <div class="header__top-bar clearfix">
        </div>
        <!-- Header Top Bar / End -->

        <!-- Header Primary -->
        <!-- Header Primary -->
        <div class="header__primary">
            <div class="container">
                <div class="header__primary-inner">

                    <!-- Header Logo -->
                    <div class="header-logo">
                        <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                                         srcset="/assets/images/esports/logoTemp1.png 4x" alt="Realm Refroged Logo"
                                         class="header-logo__img"></a>
                    </div>
                    <!-- Header Logo / End -->

                    <!-- Main Navigation -->
                    <nav class="main-nav">
                        <ul class="main-nav__list">
                            <li class=""><a href="/">Home</a>
                            </li>
                            <li class=""><a href="/mmr">MMR</a>
                                <!-- Mega Menu -->
                                <!-- Mega Menu / End -->
                            </li>

                            <li class="active">
                                <a href="#" style="pointer-events: none;">Lookup</a>
                                <ul class="main-nav__sub">
                                    <li class=""><a href="/stats">Player Stats</a></li>
                                    <li class="active"><a href="/match">Match Details</a></li>
                                </ul>
                            </li>
                            <!-- Mega Menu / End -->

                            <li class="">
                                <a href="#" style="pointer-events: none;">Organize Events</a>
                                <ul class="main-nav__sub">
                                    <li class=""><a href="/orgLeague">Organize League</a></li>
                                    <li class=""><a href="/orgTourney">Organize Tourney</a></li>
                                </ul>
                            </li>
                            <li style="padding-left: 12rem;"></li>
                            <li class="">
                                <a href="/leaderboard">Leaderboard </a>
                            </li>
                            <li class="">
                                <a href="/admin">Admin</a>
                            </li>
                            <li class="">   
                                <a href="/v2_admin">Admin-Graph</a>
                            </li>

                        </ul>
                    </nav>
                    <!-- Main Navigation / End -->

                    <div class="header__primary-spacer"></div>

                    <!-- Header Search Form -->

                    <!-- Header Search Form / End -->

                    <!-- Header Info Block -->

                    <!-- Header Info Block / End -->

                </div>
            </div>
        </div>
        <!-- Header Primary / End -->
        <!-- Header Primary / End -->

    </header>
    <!-- Header / End -->


    <div class="container" style="align-items: center;text-align: center;padding-top: 50px">
        <div class="header-search-form" style="width: 30rem">
            <form action="/match" id="search" class="search-form" method='post'>
                <input type="text" id="search" name="search" class="form-control" value=""
                       placeholder="Enter Match Number " style="width: 30rem;height: 5rem;font-size: 1.25rem">
                <button type="submit" class="header-mobile__search-submit" style="width: 3rem;height: 5rem"><i
                            class="fas fa-search"></i></button>
            </form>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <%if(renderDetails){%>
    <div class="site-content">
        <div class="container" style="max-width: 1200px">

            <div class="card card--has-table">
                <div class="card__header">
                    <h4>Match Stats</h4>
                    <div class="widget-results__title">
                        <div class="widget-results__title">
                        Region: <%=matchOverview[0]['region']%>
                        </div>
                        <div class="widget-results__title">
                        Mode: <%=queueValues[matchOverview[0]['match_queue_id']]%>
                        </div>
                    </div>
                    <div class="widget-results__title">
                        <div class="widget-results__title">
                            Match ID: <%=matchOverview[0]['match_id']%>
                        </div>
                        <div class="widget-results__title">
                            <% 
                            let count = 0
                                for(const team in matchDetails){
                                    for(const name in matchDetails[team]['name']) {
                                        count+=1
                                    }
                                }
                            %>
                            Players: <%=count%>
                        </div>
                    </div>

                    <div class="widget-results__title">
                        <div class="widget-results__title">

                            Date: <%=new Date(matchOverview[0]['match_datetime']*1000).toLocaleDateString()%>
                        </div>
                        <div class="widget-results__title">


                            Time: <%=new Date(matchOverview[0]['match_datetime']*1000).toLocaleTimeString()%> UTC
                        </div>
                    </div>

                </div>
                <div class="card__content">
                    <div class="table-responsive">
                        <table class="table table-hover" id="example"
                               style="padding-top: 10px;padding-bottom: 10px;text-align: center;align-items: center">
                            <thead>
                            <tr>
                                <th class="team-result__placement" style="text-align: center;width: 20px;font-size: 18px">
                                    Placement
                                </th>
                                <th class="team-result__timealive" style="text-align: center;font-size: 18px" >Seconds Alive</th>
                                <th class="team-result__vs" style="width: 400px;word-break: break-all;font-size: 18px">Players</th>
                                <th class="team-result__kills" style="text-align: center;font-size: 18px">Kills</th>
                                <th class="team-result__deaths" style="text-align: center;font-size: 18px">Deaths</th>
                                <th class="team-result__assists" style="text-align: center;font-size: 18px">Damage</th>
                                <th class="team-result__absorbed" style="text-align: center;max-width: 100px;font-size: 18px">Damage Taken</th>
                                <th class="team-result__self_healing" style="text-align: center;max-width: 100px;font-size: 18px">Healing Self</th>
                                <th class="team-result__team_healing" style="text-align: center;max-width: 100px;font-size: 18px">Healing Others</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(const team in matchDetails){ %>
                                <tr>
                                    <td data-order="<%=matchDetails[team]['duration_secs']*-1%>" class="team-result__kills team-color--2" style="width: 20px;font-size: 16px">
                                            <%= matchDetails[team]['placement'] %>
                                    </td>
                                    <td data-order="<%=matchDetails[team]['duration_secs']%>" class="team-result__date" style="font-size: 16px">
                                        <%= matchDetails[team]['duration_secs'] %>
                                    </td>

                                    <td class="team-result__outcome" style="max-width: 400px;word-break: break-all;" >
                                        <div class="team-result__teams-wrapper">
                                            <!-- Team #1 -->
                                            <div class="team-meta team-meta--first team-meta__info team-meta__name" style="font-size: 16px;flex-direction: column;align-items: flex-start">
                                                        <% for(const player in matchDetails[team]['name']){ %>
                                                    <a href="/stats/<%=matchDetails[team]['id'][player]%>" style="display: inherit">
                                                        <%= matchDetails[team]['name'][player] %>
                                                    </a>
                                                <br>
                                                        <% } %>
                                            </div>
                                            <!-- Team #1 / End -->


                                        </div>
                                    </td>
                                    <%
                                        // I hate doing this twice, but
                                        // we need the total points to help table sorting if needed
                                    let totalKills = 0;

                                    for(const kills in matchDetails[team]['kills_player']) {
                                        totalKills+= matchDetails[team]['kills_player'][kills]
                                    }

                                    %>
                                    <td data-order="<%=totalKills%>" class="team-result__kills team-meta__name team-color--2" style="font-size: 16px">
                                         <% for(const kills in matchDetails[team]['kills_player']){ %>
                                                        <%= matchDetails[team]['kills_player'][kills] %>
                                            <br>

                                        <% } %>
                                    </td>
                                    <%
                                        // I hate doing this twice, but
                                        // we need the total points to help table sorting if needed
                                        let totalDeaths = 0;

                                        for(const deaths in matchDetails[team]['deaths']) {
                                            totalDeaths+= matchDetails[team]['deaths'][deaths]
                                        }

                                    %>
                                    <td data-order="<%=totalDeaths%>" class="team-result__deaths team-meta__name team-color--2" style="font-size: 16px">
                                            <% for(const deaths in matchDetails[team]['deaths']){ %>
                                                    <%= matchDetails[team]['deaths'][deaths] %>
                                            <br>

                                        <% } %>
                                    </td>


                                    <%
                                        // I hate doing this twice, but
                                        // we need the total points to help table sorting if needed
                                        let totalDamage = 0;

                                        for(const damage_player in matchDetails[team]['damage_player']) {
                                            totalDamage+= matchDetails[team]['damage_player'][damage_player]
                                        }

                                    %>
                                    <td data-order="<%=totalDamage%>" class="team-result__assists team-meta__name team-color--2" style="font-size: 16px">
                                            <%
                                        for(const damage_player in matchDetails[team]['damage_player']) {
                                                     %>
                                                    <%= matchDetails[team]['damage_player'][damage_player] %>
                                            <br>

                                        <% } %>
                                    </td>

                                    <%
                                        // I hate doing this twice, but
                                        // we need the total points to help table sorting if needed
                                        let totalDamageTaken = 0;

                                        for(const damage_taken in matchDetails[team]['damage_taken']) {
                                            totalDamageTaken+= matchDetails[team]['damage_taken'][damage_taken]
                                        }

                                    %>
                                    <td data-order="<%=totalDamageTaken%>" class="team-result__absorbed team-meta__name team-color--2" style="max-width: 100px;font-size: 16px">
                                            <% for(const damage_taken in matchDetails[team]['damage_taken']) { %>
                                                    <%= matchDetails[team]['damage_taken'][damage_taken] %>
                                            <br>

                                        <% } %>
                                    </td>


                                    <%
                                        // I hate doing this twice, but
                                        // we need the total points to help table sorting if needed
                                        let totalSelfHealing = 0;

                                        for(const healing_player_self in matchDetails[team]['healing_player_self']) {
                                            totalSelfHealing+= matchDetails[team]['healing_player_self'][healing_player_self]
                                        }

                                    %>
                                    <td data-order="<%=totalSelfHealing%>" class="team-result__self_healing team-meta__name team-color--2" style="max-width: 100px;font-size: 16px">
                                        <%  for(const healing_player_self in matchDetails[team]['healing_player_self']) { %>
                                            <%= matchDetails[team]['healing_player_self'][healing_player_self] %>
                                            <br>

                                        <% } %>
                                    </td>

                                    <%
                                        // I hate doing this twice, but
                                        // we need the total points to help table sorting if needed
                                        let totalHealingOthers = 0;

                                        for(const healing_player in matchDetails[team]['healing_player']) {
                                            totalHealingOthers+= matchDetails[team]['healing_player'][healing_player]
                                        }

                                    %>
                                    <td data-order="<%=totalHealingOthers%>" class="team-result__team_healing team-meta__name team-color--2" style="max-width: 100px;font-size: 16px">
                                        <% for(const healing_player in matchDetails[team]['healing_player']) { %>
                                            <%= matchDetails[team]['healing_player'][healing_player] %>
                                            <br>

                                        <% } %>
                                    </td>
                                    <!--                                <td class="team-result__replay">-->
                                    <!--                                    <a href="#" class="btn btn-xs btn-default-alt btn-single-icon btn-circle" data-toggle="tooltip" data-placement="top" title="Watch Replay"><i class="fas fa-play"></i></a>-->
                                    <!--                                </td>-->
                                </tr>
                            <% } %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Last Matches Stats / End -->


        </div>
    </div>
    <%}%>>

    <!-- Content / End -->


    <!-- Footer
    ================================================== -->
    <footer id="footer" class="footer">

        <!-- Widget: Instagram Section -->
        <!-- Widget: Instagram Section / End -->

        <!-- Sponsors / End -->


        <!-- Footer Widgets -->

        <!-- Footer Widgets / End -->

        <!-- Footer Social Links -->
        <%if(renderDetails === false){%>
        <div class="footer-social" style="position:fixed;bottom:0;width: 100%">
            <div class="container">
                <ul class="footer-social__list list-unstyled">

                    <li class="footer-social__item">
                        <a href="https://twitter.com/SlickyNicky00" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-twitter"></i>
								</span>
                            <div class="footer-social__txt">
                                <span class="footer-social__name">Twitter</span>
                                <span class="footer-social__user">@SlickyNicky00</span>
                            </div>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://www.twitch.tv/slickynicky00" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-twitch"></i>
								</span>
                            <div class="footer-social__txt">
                                <span class="footer-social__name">Twitch</span>
                                <span class="footer-social__user">SlickyNicky00</span>
                            </div>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://www.youtube.com/c/slickynicky" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-youtube"></i>
								</span>
                            <div class="footer-social__txt">
                                <span class="footer-social__name">YouTube</span>
                                <span class="footer-social__user">SlickyNicky</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <%}else{%>
            <div class="footer-social">
                <div class="container">
                    <ul class="footer-social__list list-unstyled">

                        <li class="footer-social__item">
                            <a href="https://twitter.com/SlickyNicky00" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-twitter"></i>
								</span>
                                <div class="footer-social__txt">
                                    <span class="footer-social__name">Twitter</span>
                                    <span class="footer-social__user">@SlickyNicky00</span>
                                </div>
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a href="https://www.twitch.tv/slickynicky00" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-twitch"></i>
								</span>
                                <div class="footer-social__txt">
                                    <span class="footer-social__name">Twitch</span>
                                    <span class="footer-social__user">SlickyNicky00</span>
                                </div>
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a href="https://www.youtube.com/c/slickynicky" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-youtube"></i>
								</span>
                                <div class="footer-social__txt">
                                    <span class="footer-social__name">YouTube</span>
                                    <span class="footer-social__user">SlickyNicky</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        <%}%>

        <!-- Footer Social Links / End -->
    </footer>
    <!-- Footer / End -->

</div>

<!-- Javascript Files
================================================== -->
<!-- Core JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery/jquery-migrate.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/core.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


<!-- Vendor JS -->
<script src="/assets/vendor/marquee/jquery.marquee.min.js"></script>


<!-- Template JS -->
<script src="/assets/js/init.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>
