<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Realm Royale Hub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A place for everything realm royale!">
    <meta name="author" content="Dan Fisher">
    <meta name="keywords" content="sports club news HTML template">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/assets/images/esports/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/esports/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/esports/favicons/favicon-152.png">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <!-- Google Web Fonts
    ================================================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&amp;family&#x3D;Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&amp;display&#x3D;swap"
          rel="stylesheet">

    <!-- CSS
    ================================================== -->
    <!-- Vendor CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/assets/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/assets/vendor/slick/slick.css" rel="stylesheet">


    <!-- Template CSS-->
    <link href="/assets/css/style-esports.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="/assets/css/custom.css" rel="stylesheet">


    <script>
        var form = document.getElementById("search");

        function handleForm(event) {
            event.preventDefault();
        }

        form.addEventListener('submit', handleForm);
    </script>

</head>
<body data-template="template-esports">

<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>

    <!-- Header
    ================================================== -->

    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">
        <div class="header-mobile__logo">
            <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                                               srcset="/assets/images/esports/logoTemp1.png 1.0x" alt="Alchemists"
                                               class="header-mobile__logo-img"></a>
        </div>
        <div class="header-mobile__inner">
            <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
        </div>
    </div>
    <!-- Header Mobile / End -->

    <!-- Header Desktop -->
    <header class="header header--layout-3">

        <!-- Header Top Bar -->
        <div class="header__top-bar clearfix">
        </div>
        <!-- Header Top Bar / End -->

        <!-- Header Primary -->
        <!-- Header Primary -->
        <div class="header__primary">
            <div class="container">
                <div class="header__primary-inner">

                    <!-- Header Logo -->
                    <div class="header-logo">
                        <a href="/"><img src="/assets/images/esports/logoTemp1.png"
                                         srcset="/assets/images/esports/logoTemp1.png 4x" alt="Realm Refroged Logo"
                                         class="header-logo__img"></a>
                    </div>
                    <!-- Header Logo / End -->

                    <!-- Main Navigation -->
                    <nav class="main-nav">
                        <ul class="main-nav__list">
                            <li class=""><a href="/">Home</a>
                            </li>
                            <li class="active"><a href="/mmr">MMR</a>
                                <!-- Mega Menu -->
                                <!-- Mega Menu / End -->
                            </li>

                            <li class="">
                                <a href="#" style="pointer-events: none;">Lookup</a>
                                <ul class="main-nav__sub">
                                    <li class=""><a href="/stats">Player Stats</a></li>
                                    <li class=""><a href="/match">Match Details</a></li>
                                </ul>
                            </li>
                            <!-- Mega Menu / End -->

                            <li class="">
                                <a href="#" style="pointer-events: none;">Organize Events</a>
                                <ul class="main-nav__sub">
                                    <li class="active"><a href="/orgLeagueTemp">Organize League</a></li>
                                    <li class=""><a href="/orgTourneyTemp">Organize Tourney</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                    <!-- Main Navigation / End -->

                    <div class="header__primary-spacer"></div>

                    <!-- Header Search Form -->

                    <!-- Header Search Form / End -->

                    <!-- Header Info Block -->

                    <!-- Header Info Block / End -->

                </div>
            </div>
        </div>
        <!-- Header Primary / End -->
        <!-- Header Primary / End -->

    </header>
    <!-- Header / End -->


    <!-- Header Posts
    ================================================== -->
    <div class="container" style="align-items: center;text-align: center;padding-top: 50px">
        <div class="header-search-form" style="width: 30rem">
            <form action="/mmr" id="search" class="search-form" method='post'>
                <input type="text" id="search" name="search" class="form-control" value=""
                       placeholder="Realm Royale name or id" style="width: 30rem;height: 5rem;font-size: 1.25rem">
                <button type="submit" class="header-mobile__search-submit" style="width: 3rem;height: 5rem"><i
                            class="fas fa-search"></i></button>
            </form>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="site-content">
        <div class="container" style="max-width: 1500px">

            <!-- Breaking News -->
            <!-- Breaking News / End -->

            <div class="row" style="margin-left:auto; margin-right:auto;">
                <!-- Content -->
                <%if(playerStats !== '')   {%>
                <div class="posts__item posts__item--tile posts__item--category-1 posts__item--category-4  card"
                     style="margin-left:auto; margin-right:auto;width: 45rem">
                    <div class="widget__title card__header card__header--has-btn">
                        <h3 style="font-size:2rem">MMR Stats</h3>
                    </div>
                    <div class="widget__content card__content">
                        <!-- Game Score -->
                        <div class="widget-game-result__section" >
                            <div class="widget-game-result__section-inner">

                                <header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">
                                    <h3 class="widget-game-result__title" style="font-size: 0.9rem">Platform: <%=playerStats['platform']%></h3>
                                    <time class="widget-game-result__date" style="font-size: 0.9rem">Player ID: <%=playerStats['id']%>
                                    </time>
                                </header>

                                <header class="widget-game-result__header">
                                    <h3 class="widget-game-result__title" style="font-size: 1.5rem;letter-spacing: 1px"><%=playerStats['name']%></h3>
                                    <div class="widget-game-result__subtitle" style="font-size: 0.8rem">Account Created<br><%=playerStats['created_datetime']%></div>
                                </header>

                            </div>
                        </div>
                        <!-- Game Score / End -->

                        <!-- Game Statistics -->
                        <div class="widget-game-result__section">
                            <header class="widget-game-result__subheader card__subheader card__subheader--sm card__subheader--nomargins">
                                <h5 class="widget-game-result__subtitle" style="font-size: 1.25rem">
                                    See Latest Matches
                                </h5>
                            </header>
                            <div class="widget-game-result__section-inner">

                                <!-- Progress Stats Table -->
                                <table class="progress-table progress-table--sm-space" style="border-spacing: 0 70px;border-collapse: separate;margin-top: -70px">
                                    <tbody>

                                    <% for(const queue in queueStats) { %>
                                        <tr>
                                            <%
                                            for(let queueIndvStats in queueStats[queue]) {

                                                if (queueIndvStats === 'playerID' || queueIndvStats === 'customDuo') {
                                                    continue
                                                } %>

                                                <td class="progress-table__progress-label progress-table__progress-label--highlight"
                                                    style="font-size: 1.25rem">

                                                    <%= queueStats[queue][queueIndvStats] %>
                                                </td>


                                            <% } %>
                                        </tr>


                                    <% } %>
                                    </tbody>
                                </table>
                                <!-- Progress Stats Table / End -->

                            </div>
                        </div>
                        <!-- Game Statistics / End -->


                    </div>
                </div>
                <%}%>

                <div class="posts__item posts__item--tile posts__item--category-1 posts__item--category-4  card"
                     style="margin-left:auto; margin-right:auto;width: 45rem">
                    <div class="widget__title card__header card__header--has-btn">
                        <h3 style="font-size:2rem">Highest MMR's</h3>
                        <header class="widget-game-result__header widget-game-result__header--alt widget-game-result__header--alt-compact mb-4">

                        <h3 class="widget-game-result__title" style="font-size: 0.9rem">Top 3: Highest -> Lowest</h3>
                        </header>

                    </div>
                    <div class="widget__content card__content">

                        <!-- Game Statistics -->
                        <div class="widget-game-result__section">

                            <div class="widget-game-result__section-inner">

                                <!-- Progress Stats Table -->
                                <table class="progress-table progress-table--sm-space" style="border-spacing: 0 70px;border-collapse: separate;margin-top: -70px;column-width: 200px">
                                    <tbody>

                                    <% for(const queue in bestPlayers) { %>
                                    <tr>

                                        <td class="progress-table__progress-label progress-table__progress-label--highlight"
                                            style="font-size: 1.25rem">
                                            <%= JSON.stringify(queue).slice(1, -1) %>
                                        </td>
                                        <% for(const players in bestPlayers[queue]) { %>
                                            <td class="progress-table__progress-label progress-table__progress-label--highlight"
                                                style="font-size: 1.25rem;line-height: 20px">
                                                <br>
                                                <%= JSON.stringify(bestPlayers[queue][players][0]['score']).slice(1, -1) %>
                                                <br><br><a href=
                                                           /mmr/<%= JSON.stringify(bestPlayers[queue][players][1]['profileLink']).split('/stats/')[1].slice(0, -1) %>
                                                >Profile Link </a>
                                                <br>
                                            </td>
                                        <% } %>


                                    </tr>

                                    <% } %>

                                    </tbody>
                                </table>
                                <!-- Progress Stats Table / End -->

                            </div>
                        </div>
                        <!-- Game Statistics / End -->


                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Content / End -->


    <!-- Footer
    ================================================== -->
    <footer id="footer" class="footer">

        <!-- Widget: Instagram Section -->
        <!-- Widget: Instagram Section / End -->

        <!-- Sponsors / End -->


        <!-- Footer Widgets -->
        <div class="footer-widgets effect-duotone effect-duotone--base">
            <div class="footer-widgets__inner">
                <div class="container">

                </div>
            </div>

        </div>
        <!-- Footer Widgets / End -->

        <!-- Footer Social Links -->
        <div class="footer-social">
            <div class="container">
                <ul class="footer-social__list list-unstyled">

                    <li class="footer-social__item">
                        <a href="https://twitter.com/SlickyNicky00" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-twitter"></i>
								</span>
                            <div class="footer-social__txt">
                                <span class="footer-social__name">Twitter</span>
                                <span class="footer-social__user">@SlickyNicky00</span>
                            </div>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://www.twitch.tv/slickynicky00" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-twitch"></i>
								</span>
                            <div class="footer-social__txt">
                                <span class="footer-social__name">Twitch</span>
                                <span class="footer-social__user">SlickyNicky00</span>
                            </div>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="https://www.youtube.com/c/slickynicky" class="footer-social__link">
								<span class="footer-social__icon">
									<i class="fab fa-youtube"></i>
								</span>
                            <div class="footer-social__txt">
                                <span class="footer-social__name">YouTube</span>
                                <span class="footer-social__user">SlickyNicky</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Footer Social Links / End -->
    </footer>
    <!-- Footer / End -->

</div>

<!-- Javascript Files
================================================== -->
<!-- Core JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery/jquery-migrate.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/core.js"></script>

<!-- Vendor JS -->
<script src="/assets/vendor/twitter/jquery.twitter.js"></script>
<script src="/assets/vendor/marquee/jquery.marquee.min.js"></script>


<!-- Template JS -->
<script src="/assets/js/init.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>
